.filter-delete>button{
    cursor: pointer;
    width: 100px;
    height: 25px;
    font-weight: bold;
    color: white;
    border: 1px dotted black;
}
.filter-delete>button:hover{
    height:30px;
    box-shadow: 2px 2px 2px gray;
}
.minus{
    cursor: pointer;
    width:20px;
    height: 20px;
    margin: auto;
    font-size:smaller;
    border: 1px solid red;
    border-radius: 50%;
    
}
.filter-delete>button:first-child{
    margin-left: 80px;
    background-color: green;
}
.filter-delete>button:last-child{
    display: none;
    margin-left: 30px;
    border: 1px dotted black;
    background-color: red;
}
.mainPage{
    font-family: cursive;
    width: 86%;
    position: relative;
    overflow: auto;
    margin: 20px auto;
    height: 300px;
}
.mainPage>table{
    width: 100%;
}
.mainPage thead{
    background-color:lightslategray;
}
.mainPage th,td{
    height: 40px;
}

.mainPage tr{
    text-align: center;
}
input[type="checkbox"]{
  width:15px;
  height: 15px;
}